:root {
    --main-background-color: #0d1117;
    --input-background-color: #202020;
    --main-font-color: #DCDCDC;
    --line-color: #484848;
    --button-background-color: rgb(46, 154, 64);
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    color: var(--main-font-color);
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.appWrapper {
    display: grid;
    grid-template-rows: 2fr 5fr;
    height: 100vh;
    background-color: var(--main-background-color);
}

.topSection {
    border: 1px solid black;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--line-color);
    margin-bottom: 30px;
}

.bottomSection {
    overflow: auto;
}

.formContainer {
    width: 100%;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
}

.labels {
    padding-right: 20px;
    padding-left: 30px;
    text-align: left;
}

.fieldContainer {
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

.inputs {
    padding-left: 20px;
    background-color: var(--input-background-color);
}

.buttonContainer {
    margin-top: 15px;
    text-align: center;
}

.addBookButton,
.readButton {
    border: 1px solid black;
    background-color: var(--button-background-color);
    padding: 8px;
}

.readButton {
    justify-content: center;
    margin-top: 15px;
}

.cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.card {
    height: 250px;
    width: 200px;
    margin: 0 30px;
    border: 1px solid var(--line-color);
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
    margin: 0 30px 30px 30px;
}

.cardHeader {
    border-bottom: dashed 1px var(--line-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.cardButtonContainer {
    border-top: dashed 1px var(--line-color);
    text-align: center;
}

.bookTitle {
    text-align: center;
}

.cardDescription p {
    margin: 15px;
}
