* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

.appWrapper {
    display: grid;
    grid-template-rows: 2fr 5fr;
    height: 100vh;
    border: 1px solid red;

}

.topSection {
    border: 1px solid black;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 30px;
}

.bottomSection {
    overflow: auto;
}

.formContainer {
    width: 100%;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.labels {
    padding-right: 20px;
    text-align: right;
}

.inputs {
    padding-left: 20px;
    background-color: lightblue;
}

.buttonContainer {
    text-align: center;
    
}

.addBookButton {
    border: 1px solid black;
}

.cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.card {
    height: 250px;
    width: 200px;
    margin: 0 30px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 4fr;
    margin: 0 0 30px 0;
}

.cardHeader {
    border-bottom: dashed 1px black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.bookTitle {
    text-align: center;
}

.cardDescription p {
    margin: 15px;
}
